<div class="body">
    <section class="header humas">
        <h1>PENGURUS BIDANG</h1>
        <h1>HUBUNGAN MASYARAKAT</h1>
    </section>
    
    <div class="container my-5">
        <h1 class="title-struktur mb-5">Struktur Organisasi <br> Bidang Humas</h1>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
    <!-- ketua -->
    <div class="bg mb-5">
        <div class="container">
            <h2 class="title-struktur">Kepala Bidang Humas</h2>
            <div class="row card-profiles justify-content-md-center gx-md-5 ">
                <div class=" col-md-5 me-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/man-person.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#faridzOkta">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Faridz Okta A<br><span>Kepala Bidang Humas</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- wakil ketua -->
    <div class="bg mb-5">
        <div class="container">
            <h2 class="title-struktur">Wakil Kepala Bidang Humas</h2>
            <div class="row card-profiles justify-content-md-center gx-md-5 ">
                <div class=" col-md-5 me-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kikiRijzki">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Kiki Rijki<br><span>Wakil Kepala Bidang Humas</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Staff -->
    <div class="bg mb-5 ">
        <div class="container">
        <h2 class="title-struktur">Staff</h2>
            <div class="row card-profiles justify-content-center gx-md-5">
                <div class=" col-md-5 me-md-3 card-profile-fix">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#echaFauzan">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Echa Fauzan A<br><span>Staff Bidang Humas</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
    
    <!-- Bendahara -->
                <div class=" col-md-5 me-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp"/>
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aliefRahman">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Alief Rahman<br><span>Staff Bidang Humas</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class=" col-md-5 me-md-3">
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp"/>
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mImam">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>M Imam Lilmujahidin<br><span>Staff Bidang Humas</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    
    
    </div>