<div class="body">
    <section class="header inti">
        <h1>PENGURUS</h1>
        <h1>DIVISI INTI</h1>
    </section>
    
    <div class="container my-5">
        <h1 class="title-struktur mb-5">Struktur Organisasi <br> Divisi Inti</h1>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
    <!-- ketua -->
    <div class="bg mb-5">
        <div class="container">
            <div class="row card-profiles justify-content-md-center gx-md-5 ">
                <div class=" col-md-5 me-md-3">
                    <h2 class="title-struktur">Ketua</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/man-person.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ikbarShafar">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Ikbar Shafar<br><span>Ketua Himakom</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- wakil ketua -->
    <div class="bg mb-5">
        <div class="container">
            <div class="row card-profiles justify-content-md-center gx-md-5 ">
                <div class=" col-md-5 me-md-3">
                    <h2 class="title-struktur">Wakil Ketua</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#waketuFiniFirliansyah">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Fini Firliansyah<br><span>Wakil Ketua Himakom</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="waketuFiniFirliansyah" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">My Biodata</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-3">
                    <img src="assets/img/person-woman.webp" class="img-fluid">
                </div>
                <div class="col-md">
                    <ul class="list-group">
                    <li class="list-group-item"><h4>Fini Firliansyah</h4></li>
                    <li class="list-group-item"><strong>Kedudukan : </strong>Wakil Ketua</li>
                    <li class="list-group-item"><strong>Prodi : </strong>Teknik Komputer B</li>
                    <li class="list-group-item"><strong>Asal : </strong>Ciparay</li>
                    <li class="list-group-item"><strong>Tanggal Lahir : </strong>17 Januari 2022</li>
                    <li class="list-group-item"><strong>Moto : </strong>I do what I can and i can what i do</li>
                    <li class="list-group-item"><strong>Akun Medsos : </strong> 
                        <span>
                            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-square-github"></i></a>
                        </span>
                    </li>
                    </ul>
                </div>
                </div>
            </div>`
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    
    
    <!-- Sekjen -->
    <div class="bg mb-5 ">
        <div class="container">
            <div class="row card-profiles justify-content-between gx-md-5">
                <div class=" col-md-5 me-md-3 card-profile-fix">
                    <h2 class="title-struktur">Sekretaris Jendral</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#indahNurbati">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Indah Nurbati<br><span>Sekretaris Jendral</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
    
    <!-- Bendahara -->
                <div class=" col-md-5 me-md-3">
                <h2 class="title-struktur">Bendahara</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp"/>
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#idaFarida">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Ida Farida<br><span>Bendahara</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sekretaris Umum -->
    <div class="bg mb-5 ">
        <div class="container">
            <div class="row card-profiles justify-content-between gx-md-5">
                <div class=" col-md-5 me-md-3 card-profile-fix">
                    <h2 class="title-struktur">Sekretaris Umum</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp" />
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kastilaAyang">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Kastila Ayang A.P<br><span>Sekretaris Umum</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
    
             
                <div class=" col-md-5 me-md-3">
                <h2 class="title-struktur">Wakil Bendahara</h2>
                    <div class="card-profile">
                        <div class="imgBx">
                            <img src="assets/img/person-woman.webp"/>
                        </div>
                        <div class="content">
                            <div class="details">
                            <div class="actionBtn">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#suciAnandhita">Lihat Profile</button>
                            </div>
                            <div class="data justify-content-center">
                                <p>
                                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-github"></i></a>
                                </p>
                            </div>
                            <h2>Suci Anandhita<br><span>Wakil Bendahara</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>